button,
input[type=submit] {
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: bold;
    color: $bgMain;
    background: $black;
    border: $border;
    border-radius: 25px;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover,
    &:focus {
        color: $black;
        background: $bgMain;
    }
}