@media (max-width: 1100px) {

    // GENERAL

    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 1024px) {

    // GENERAL STYLES

    .wrapper {
        width: 90%;
    }

    // NAV BAR

    .navLinks {
        position: absolute;
        right: 0;
        height: calc(100vh - 81px);
        top: 81px;
        background: $black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        li {
            margin-left: 20%;
            padding-bottom: 3px;
        }
    }

    .hamburger {
        display: block;
        cursor: pointer;
        right: 5%;
    }

    .navActive {
        transform: translateX(0);
    }

    .exit .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .exit .line2 {
        opacity: 0;
    }

    .exit .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    // ABOUT ME SECTION

    .aboutMeFlexContainer {
        flex-direction: column;
        .aboutMePicOuterContainer {
            width: 100%;
            justify-content: center;
            margin-bottom: 5%;
            .aboutMePic {
                width: 45%;
            }
        }
        .aboutMeTextContent {
            width: 100%;
            p:first-child {
                text-align: center;
            }
        }
    }

    // SKILLS SECTION

    .skills ul {
        li {
            i {
                font-size: 3rem;
                padding: 15px;
            }
            p {
                margin: 20px 0 10px;
            }
        }
    }

    // PORTFOLIO SECTION

    .projectContainer {
        flex-direction: column;
        .projectText {
            width: 85%;
            margin: 0 auto;
            .projectButtonContainer {
                margin: 3% 0 0;
            }
        }
        .projectImageContainer {
            width: 100%;
            justify-content: center;
            margin-bottom: 5%;
            .projectImage {
                width: 70%;
            }
        }
    }

    .flexColumnReverse {
        flex-direction: column-reverse;
    }

    // CONTACT SECTION

    form {
        width: 90%;
    }

    .contactSocials {
        width: 60%;
    }
}

@media (max-width: 892px) {

    // GENERAL STYLES

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    // HEADER SECTION

    .headerFlexContainer {
        .headerTextContainer {
            width: 60%;
        }
        // .headerPicContainer {
        //     width: 47.5%;
        //     height: 500px;
        // }
    }
}

@media (max-width: 682px) {

    // HEADER SECTION 

    header {
        background-size: 400px;
        background-position: bottom;
        min-height: 568px;
    }

    .headerFlexContainer {
        flex-direction: column;
        margin-top: 12%;
            .headerTextContainer {
                width: 100%;
                height: auto;
                align-items: center;
            h1 {
                margin: 5% 0 3%;
            }
        }
        // .headerPicContainer {
        //     width: 85%;
        //     height: 400px;
        // }
    }

    // NAV BAR 

    .navLinks {
        width: 50%;
    }

    // ABOUT ME SECTION

    .aboutMeFlexContainer .aboutMePicOuterContainer .aboutMePic {
        width: 60%;
    }

    // SKILLS SECTION

        .skills ul {
        li {
            i {
                font-size: 2rem;
                padding: 12px;
            }
            p {
                margin: 15px 0 5px;
            }
        }
    }

    // PORTFOLIO SECTION

    .portfolio h4 {
        font-size: 1.2rem;
    }

    .projectContainer {
        .projectText {
            width: 100%;
        }
        .projectImageContainer {
            .projectImage {
                width: 100%;
            }
        }
    }

    // CONTACT SECTION

    .contact p {
        font-size: 0.9rem;
    }

    .contactSocials i {
        font-size: 1.2rem;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    
    // GENERAL

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    // NAV BAR

    .navLinks {
        width: 100%;
    }

    // HEADER 

    // .headerFlexContainer {
    //     .headerPicContainer {
    //         width: 100%;
    //         height: 400px;
    //     }
    // }

    // ABOUT ME SECTION

    .aboutMeFlexContainer {
        .aboutMePicOuterContainer .aboutMePic {
            width: 80%;
        }    
        .aboutMeTextContent {
            p:first-child {
                font-size: 1rem;;
            }
        }
    }

    // SKILLS SECTION

    .skills ul li {
        width: 50%;
        i {
            font-size: 3rem;
            padding: 18px;
        }
    }

    // CONTACT SECTION

    form label {
        font-size: 0.85rem;
    }

    .contactSocials {
        width: 80%;
    }

    footer p {
        font-size: 0.75rem;
    }
}