@media (max-width: 1100px) {

    // NAV BAR

    // .navLinks {
    //     display: none;
    // }

    // .responsiveNavLinks {
    //     input {
    //         display: block;
    //         width: 50px;
    //         height: 45px;
    //         position: absolute;
    //         bottom: 1px;
    //         left: 5px;
    //         opacity: 0;
    //         z-index: 2;
    //     }
    // }

}

@media (max-width: 1000px) {

    // HEADER SECTION


    // ABOUT ME SECTION

    .aboutMeFlexContainer {
        // display: flex;
        flex-direction: column;
        .aboutMePicOuterContainer {
            width: 100%;
            justify-content: center;
            margin-bottom: 5%;
            .aboutMePic {
                width: 45%;
            }
        }
        .aboutMeTextContent {
            width: 100%;
            .aboutMeButtonContainer {
                width: 100%;
                display: flex;
                justify-content: space-around;
            }
        }
    }

    // SKILLS SECTION

    .skills ul {
        li {
            i {
                font-size: 3rem;
                padding: 15px;
            }
            p {
                margin: 20px 0 10px;
            }
        }
    }

    // PORTFOLIO SECTION

    .projectContainer {
        flex-direction: column;
        .projectText {
            width: 85%;
            margin: 0 auto;
            .projectButtonContainer {
                margin: 3% 0 0;
            }
        }
        .projectImageContainer {
            width: 100%;
            justify-content: center;
            margin-bottom: 5%;
            .projectImage {
                width: 70%;
            }
        }
    }

    .flexColumnReverse {
        flex-direction: column-reverse;
    }

    // CONTACT SECTION

    form {
        width: 90%;
    }
}

@media (max-width: 675px) {

    // GENERAL STYLES

    h3 {
        font-size: 1.5rem;
    }

    // SKILLS SECTION

        .skills ul {
        li {
            i {
                font-size: 2rem;
                padding: 12px;
            }
            p {
                margin: 15px 0 5px;
            }
        }
    }

    // PORTFOLIO SECTION

    .projectContainer {
        .projectText {
            width: 100%;
        }
        .projectImageContainer {
            .projectImage {
                width: 100%;
            }
        }
    }

    // CONTACT SECTION

    form {

    }

}