.aboutMe {
    background: $bgAccent;
    padding: 5% 0;
    h2 {
        text-align: center;
        margin-bottom: 3%;
        padding-bottom: 15px;
        border-bottom: 1px solid grey;
    }
    h3 {
        text-align: center;
        margin-bottom: 5%;
    }
}

.aboutMeFlexContainer {
    display: flex;
    .aboutMePicOuterContainer {
        width: 40%;
        display: flex;
        // justify-content: center;
        align-items: center;
        .aboutMePic {
            width: 75%;
            border: $border;
        }
    }
    .aboutMeTextContent {
        width: 60%;
    }
}

