.aboutMeFlexContainer {
    display: flex;
    .aboutMePicOuterContainer {
        width: 50%;
        display: flex;
        // justify-content: center;
        align-items: center;
        .aboutMePic {
            width: 65%;
        }
    }
    .aboutMeTextContent {
        width: 50%;
        h2 {
            text-align: center;
        }
        .aboutMeButtonContainer {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}