.aboutMe {
    background: $bgAccent;
    padding: 5% 0;
    h2 {
        text-align: center;
        margin-bottom: 3%;
        padding-bottom: 15px;
        border-bottom: 1px solid grey;
    }
    h3 {
        text-align: center;
        margin-bottom: 5%;
    }
}

.aboutMeFlexContainer {
    display: flex;
    .aboutMePicOuterContainer {
        width: 40%;
        display: flex;
        align-items: center;
        .aboutMePic {
            width: 90%;
            border: $border;
            border-radius: 50%;
            img {
                border-radius: 50%;
            }
        }
    }
    .aboutMeTextContent {
        width: 60%;
        p {
            margin-bottom: 2.5%;
        }
        p:first-child {
            font-weight: bold;
            font-size: 1.2rem;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}

