.contact h2 {
    text-align: center;
    margin-bottom: 2%;
    border-bottom: $bottom;
}

.contact h3 {
    text-align: center;
    margin-bottom: 5%;
}

form {
    input {
        border: $border;
        border-radius: 25px;
        padding-left: 5px;
        // text-transform: uppercase;
    }
}

// ::placeholder {
//     color: black;
//     opacity: 1;
// }