.contact {
    background: $bgMain;
    padding-top: 5%;
    h2 {
        text-align: center;
        margin-bottom: 2%;
        padding-bottom: 15px;
        border-bottom: $bottom;
    }
    h3 {
        text-align: center;
        margin-bottom: 5%;
    }
    p {
        font-size: 1.1rem;
        text-align: center;
        padding-bottom: 5%;
    }
}

form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .nameInput,
    .emailInput {
        display: flex;
        flex-direction: column;
    }
    input[type=text],
    input[type=email] {
        border: $bottom;
        background: $bgAccent;
        border-radius: 25px;
        padding: 10px 0 10px 20px;
        margin-bottom: 3%;
    }
    textarea {
        width: 100%;
        border: $bottom;
        border-radius: 25px;
        background: $bgAccent;
        padding: 10px 0 10px 20px;
        margin-bottom: 5%;
        resize: none;
    }
    input[type=text]:hover,
    input[type=email]:hover, 
    input[type=text]:active,
    input[type=email]:active, 
    input[type=text]:focus,
    input[type=email]:focus,
    textarea:hover,
    textarea:focus,
    textarea:active {
        background: darken($bgAccent, 15);
    }
    label {
        margin-bottom: 1.5%;
    }
    input[type=submit] {
        width: 40%;
        margin: 0 auto;
    }
}

.contactSocials {
    width: 40%;
    margin: 6% auto 0;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    i {
        font-size: 1.5rem;
        border: $border;
        border-radius: 50%;
        padding: 15px;
        color: $bgMain;
        background: $black;
    }
    i:hover,
    a:focus > i {
        background: $bgMain;
        color: $black;
    }
}