.skills {
    background: grey;
    padding: 3.5% 0;
    margin: 5% 0;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    li {
        width: 20%;
        text-align: center;
        margin-top: 20px;
        i {
            font-size: 4rem;
            padding: 20px;
            border: 3px solid black;
            border-radius: 50%;
        }
        p {
            margin: 30px 0 15px;
        }
    }
}