.skills {
    background: $bgAccent;
    padding: 3.5% 0 1%;
    margin: 2% 0;
    h2 {
        text-align: center;
        border-bottom: $bottom;
        padding-bottom: 15px;
        margin-bottom: 2%;
    }
    h3 {
        text-align: center;
    }
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    li {
        width: 20%;
        text-align: center;
        margin-top: 20px;
        i {
            font-size: 4rem;
            margin-top: 20px;
            padding: 20px;
            border: $border;
            border-radius: 50%;
            color: $bgMain;
            background: $black;
            transition: all 0.3s;
        }
        i:hover {
            color: $black;
            background: $bgMain;
        }
        i:hover ~ p {
            visibility: visible;
        }
        p {
            margin: 30px 0 10px;
            font-weight: bold;
            visibility: hidden;
        }
    }
}

