header {
    background: $bgMain;
    padding-top: 81px;
    height: 100vh;
    background: url(../assets/julienBigrasHeaderPicBackground.png);
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.headerFlexContainer {
    display: flex;
        .headerTextContainer {
            width: 50%;
            height: calc(100vh - 81px);
            display: flex;
            flex-direction: column;
            justify-content: center;
        h1 {
            margin-bottom: 3%;
        }
        h2 {
            margin-bottom: 5%;
            font-weight: normal;
        }
    }
    // .headerPicContainer {
    //     width: 50%;
    //     height: 500px;
    //     background: url(../assets/julienBigrasHeaderPicBackground.png);
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    // }
}