header {
    // height: 100vh;
    // max-height: 100vh;
    // border-bottom: 1px solid grey;
    margin-bottom: 5%;
    span:hover {
        color: white;
    }
}

.headerFlexContainer {
    display: flex;
    border-bottom: 1px solid grey;
    height: calc(100vh - 10%);
    .headerTextContainer {
        width: 50%;
        p:first-child {
            margin-top: 15%;
        }
        h2 {
            margin-bottom: 5%;
        }
    }
    .headerPicContainer {
        width: 50%;
        .headerPic {
            width: 63.45%;
            margin-left: 35%;
        }
    }
}

.socialMediaIcons ul {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    .linkedIn {
        color: #0077B5;
    }
    .github {
        color: #211F1F;
    }
    .twitter {
        color: #38A1F3;
    }
    .instagram {
        color: #DD2A7B;
    }
}

