header {
    background: $bgMain;
    margin-top: 81px;
}

.headerFlexContainer {
    display: flex;
        .headerTextContainer {
            width: 50%;
        .innerTextContainer {
            position: relative;
            left: 12%;
        }
        h1 {
            margin: 30% 0 3%;
        }
        h2 {
            margin-bottom: 5%;
            font-weight: normal;
        }
    }
    .headerPicContainer {
        width: 50%;
        .headerPic {
            width: 105%;
            max-width: 600px;
            margin-left: 5%;
        }
    }
}