nav {
    // height: 80px;
    background: $black;
}

.navFlexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    display: flex;
    li {
        text-transform: uppercase;
        margin-right: 20px;
        // padding: 20px 0 3px;
        &:hover {
            border-bottom: 3px solid $bgMain;
        }
        a {
            color: $bgMain;
        }
    }
    li:last-child {
        margin-right: 0;
    }
}

// .responsiveNavLinks {
//     display: none;
//     position: absolute;
//     top: 10px;
//     right: 20px;
//     z-index: 1;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     -webkit-transition: 0.3s;
//     transition: 0.3s;
//     width: 50px;
//     height: 50px;
// }

.navLogo {
    display: flex;
    .headshot {
        max-height: 65px;
        max-width: 65px;
        margin: 8px 20px 8px 0;
        img {
            border-radius: 50%;
        }
    }
    .textContent {
        display: flex;
        flex-direction: column;
    }
}

.headshot {
    max-height: 75px;
    max-width: 75px;
    img {
        border-radius: 50%;
    }
}

.hamburger {
    display: none;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: $bgMain;
    margin: 5px;
}

// https://codepen.io/designcouch/pen/Atyop