nav {
    background: $black;
    position: fixed;
    width: 100%;
    z-index: 100;
    .navFlexContainer {
        height: 81px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navLogo {
     p {
        color: $bgMain;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5rem;
     }
}

.navLinks {
    display: flex;
    li {
        text-transform: uppercase;
        margin-right: 20px;
        // padding-top: 32px;
        &:hover a,
        a:focus {
            border-bottom: 3px solid $bgMain;
        }
        a {
            color: $bgMain;
            padding-bottom: 3px;
        }
    }
    li:last-child {
        margin-right: 0;
    }
}

.hamburger {
    display: none;
    position: absolute;
    top: 26px;
    right: 10%;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: $bgMain;
    margin: 5px;
    transition: all 0.3s ease-in;
}