nav {
    background: $black;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navFlexContainer {
    display: flex;
    justify-content: space-between;
}

.navLogo {
    display: flex;
    .headshot {
        max-height: 65px;
        max-width: 65px;
        margin: 8px 20px 8px 0;
        img {
            border-radius: 50%;
        }
    }
    .textContent {
        display: flex;
        flex-direction: column;
    }
}

.headshot {
    max-height: 75px;
    max-width: 75px;
    img {
        border-radius: 50%;
    }
}

.navLinks {
    display: flex;
    li {
        text-transform: uppercase;
        margin-right: 20px;
        padding-top: 32px;
        &:hover a {
            border-bottom: 3px solid $bgMain;
        }
        a {
            color: $bgMain;
            padding-bottom: 3px;
        }
    }
    li:last-child {
        margin-right: 0;
    }
}

.hamburger {
    display: none;
    position: absolute;
    top: 25px;
    right: 10%;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: $bgMain;
    margin: 5px;
    transition: all 0.3s ease-in;
}